*{
    margin: 0px;
    padding: 0px;
}
body,html{
    overflow-x: hidden;
}
:root {
    --font-black: #222222;
    --font-gray: #6A6A6A;
  }
@font-face {
    font-family: air;
    src: url(./Font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}
.hr_line{
    display: none;
}
/* ---------------------------------------navbar-search-------------------------------------- */
nav{
    position: fixed;
    padding: 0px;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.search_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 56px;
    margin: 14px 16px 0px;
}
.search_bar{
    display: grid;
    grid-template-columns: 42px 60%;
    align-items: center;
    background: white;
    width: 100%;
    padding: 0px 4px;
    height: 54px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px
}
.search_icon{
    display: grid;
    justify-content: center;
}

.search_list_contents1{
    max-width: 10px;
    width: 10%;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: air;
    font-stretch: 100%;
    min-width: 50px;
    color: var(--font-gray);
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.search_list_contents2{
    box-sizing: border-box;
    font-size: 12px;
    font-family: air;
    color: var(--font-gray);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
}
.search_list_contents3{
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: air;
    font-stretch: 100%;
    min-width: 50px;
    color: var(--font-gray);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}



.filter_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47.6px;
    height: 38px;
    max-width: 38px;
    line-height: 20.02px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 100px;
}
/* ------------------------------hr---------------------------------- */

.icons_hr_scroll{
    display: grid;
    height: 74px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-areas: none;
    grid-template-rows: 74px;
    padding: 0px 24px;
    row-gap: 16px;
}
.icons_hr_scroll::-webkit-scrollbar{
    display: none;
}
.hr_contents_main{
    width: auto;
    height: 52px;
    padding: 4px 0px;
    border-bottom: 2px solid;
    margin-top: 12px;
    margin-bottom: 10px;

}
.hr_contents{
    width: auto;
    height: 44px;
}
.hr_contents-inner{
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
}
.hr_contents-inner img{
    width: 24px;
    height: 24px;
}
.hr_contents-inner p{
    color: #000000;
    font-family: air;
    font-weight: 500;
    font-size: 12px;
}
.hr_contents_main2{
    width: auto;
    height: 52px;
    padding: 4px 0px;
    margin: 12px 0px 10px;
    margin-left: 6px;

}
.hr_contents2{
    height: 44px;
    min-width: 64px;
    width: auto;
}
.hr_contents-inner2{
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
    opacity: 0.5;
}
.hr_contents-inner2 img{
    width: 24px;
    height: 24px;
}
.hr_contents-inner2 p{
    color: #000000;
    font-family: air;
    font-weight: 500;
    font-size: 12px;
}
.hr_contents_main3{
    width: auto;
    height: 52px;
    padding: 4px 0px;
    margin: 12px 0px 10px;

}
.hr_contents3{
    height: 44px;
    min-width: 64px;
    width: auto;
    max-width: 999px;
}
.hr_contents-inner3{
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
    opacity: 0.5;
    max-width: 999px;

}
.hr_contents-inner2:hover, .hr_contents-inner3:hover{
    opacity: 1;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(176, 172, 172);
}
.hr_contents-inner3 img{
    width: 24px;
    height: 24px;
}
.hr_contents-inner2 p{
    color: var(--font-black);
    font-family: air;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;

}

.hr_contents-inner3 p{
    color: var(--font-black);
    font-family: air;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;

}
.fiter_tab_view{
    display: none;
}

/* .hr_img_2{
    opacity: 0.5;
} */
/* .hr_img_2:hover, .hr_contents-inner2 p:hover, .hr_contents-inner3 p:hover {
    opacity: 1;
    color: var(--font-black);
} */
/* --------------------------------image-section------------------------------------------------ */
section{
    margin: 24px 0px 32px;
    padding: 0px 24px;
}
.main_contents{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 100%;
    gap: 24px;
    margin-top: 168px;
}
.check_box_main{
    display: flex;
    padding: 10px 16px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;

}
.check_box_contents{
    width: 70%;
}
.check_box_content1{
    margin-top: 2px;
    font-size: 15px;
    font-family: air;
    color: var(--font-black);
    font-weight:500;
    line-height: 16px;
}
.check_box_content2{
    margin-top: 7px;
    font-size: 15px;
    font-family: air;
    color: var(--font-gray);
    line-height: 16px;

}
.check_box{
    display: flex;
    align-items: center;
    width: 44px;
    height: 30px;
    border: 0px;
    border-radius: 32px;
    background-color: #000000;
    padding: 1px 2px;
    justify-content: end;
    align-items: center;

}
.check_background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 100px;
}
.product_img{
    width: 100%;
    object-fit: cover;
    aspect-ratio:20/19;
    border-radius: 12px;

}
.images{
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}
.whishlist_button{
    display: flex;
    position: absolute;
    background-color: #00000000;
    border: 0px;
    margin-top: 15px;
    margin-right: 16px;
}
.product_discription{
 display: grid;
 grid-template-columns: 80% 20%;
 grid-template-rows: 19px 19px 19px 25px;
}
.product_name_rating{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.product_name{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
}
.product_rating{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
}
.product_location{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-gray);
    font-family: air;
    margin-top: 2px;
}
.rent_time{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-gray);
    font-family: air;
    margin-top: 2px;
}
.product_price_detiles{
    margin-top: 6px;
}
.product_price{
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
}

.tax_details{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.continue_exploring{
    margin-top: 56px;
    font-size: 18px;
    font-weight: 500;
    color: var(--font-black);
    line-height: 22px;
    text-align: center;
    font-family: air;
}
.show_more{
    margin-top: 16px;
}
.show_more_button{
    width: 123.3;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    padding: 14px 24px;
    border-radius: 8px;
    font-family: air;
}
/* ----------------------footer-section-------------------------- */
footer{
    background: #F7F7F7;
}
.footer_first_section1{
    padding: 48px 24px;
}
.footer_heading{
    font-family: air;
    font-weight: 500;
    color: var(--font-black);
    font-size: 22px;
    margin-bottom: 8px;
    line-height: 26px;
}
.footer_categories{
    display: flex;
    overflow-x: auto;
}
::-webkit-scrollbar.footer_categories{
}
.footer_categories_head1{
    border: 0px;
    background: #F7F7F7;
    padding: 10px;
    margin: 6px 6px 6px -10px;
    font-family: air;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid;
}
.footer_categories_head{
    width: auto;
    flex-shrink: 0;
    border: 0px;
    background: #F7F7F7;
    padding: 10px;
    margin: 6px 6px 6px 0px;
    font-family: air;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
}
.footer_categories_lists{
    padding-top: 32px;
}
.footer_categories_lists_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 8px;
}
.footer_categories_lists_items li{
    list-style: none;
}
.footer_categories_lists_items li a {
    text-decoration: none;

}
.footer_categories_lists_items li a span{
    color: var(--font-black);
    font-family: air;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}
.footer_categories_lists_items li a p{
    color: var(--font-gray);
    font-family: air;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}
.show_more2{
    display: flex;
    align-items: center;
}
.footer_section2{
    display: grid;
    padding: 0px 20px;
    
}
.footer_services{
    padding: 24px 0px;
}
.footer_services h2{
    font-size: 14px;
    font-weight: 500;
    color: var(--font-black);
    font-family: air;
    margin-bottom: 12px;
}
hr{
    background-color: var(--font-gray);
}
.footer_services_list{
    display: grid;
    row-gap: 12px;
}
.footer_services_list li{
    list-style: none;
}
.footer_services_list li a{
    text-decoration: none;
    color: var(--font-black);
    font-weight: 400;
    font-family: air;
    font-size: 14px;
    line-height: 18px;
}
.footer_copyright_section{
    padding: 24px 0px;
}
.footer_copyright_section_languages{
    margin-bottom: 22px;
}
.footer_copyright_section_languages_text{
    display: flex;
    align-items: center;
}
.footer_copyright_section_languages_text span{
    color: var(--font-black);
    font-family: air;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.language{
    display: flex;
    gap: 8px;
    margin-right: 24px;
}
.copyright_section{
    margin-bottom: 2px;
    font-size: 14px;
    font-family: air;
    line-height: 18px;
    color: var(--font-black);

}
.copyright_section_inner{
    margin-top: 2px;
}
.copyright_section_inner ol{
    display: flex;
    flex-wrap: wrap;
}
.copyright_section_inner ol li{
    list-style: none;
}
.copyright_section_inner ol li a{
    text-decoration: none;
    color: var(--font-black);
    font-size: 14px;
    font-family: air;
    line-height: 18px;
    color: var(--font-black);
}
.nav_tab_view{
    display: none;
}

@media screen and (min-width:375px) {
    .search_bar{
        grid-template-columns: 52px 60%;

    }

}
/* ---------------------------------------------------------------------------------
----------------------------------------------------------------------------------- */
@media screen and (min-width:550px) {
    .main_contents{
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}
/* ----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------- */
@media  screen and (min-width:744px) {
    .check_box_main{
        display: none;
       
    
    }
    .hr_line{
        width: 100%;
        height: 1px;
        background: #EBEBEB;
        display: block;
    }
    .search_main{
        display: none;
    }
    .nav_tab_view{
        width: 100%;
        height: 240px;
        display: block;
        
    }
    .nav_tab_view_first_section{
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0px 40px;
        align-items: center;

    }
    .nav_tab_view_items{
        display: flex;
    }
    .nav_tab_view_items1{
        display: flex;
        margin-right: 8px;
    }
    .nav_tab_view_items1 a{
        padding: 12px;
        text-decoration: none;
        color: var(--font-black);
        font-size: 14px;
        font-family: air;
        font-weight: 500;
        line-height: 18px;
        align-self: center;
    }
    .nav_tab_view_items1 button{
        padding: 12px;
        border: 0px;
        background: white;
    }
    .nav_tab_view_items2 button{
        display: flex;
        padding: 8px 8px 8px 14px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 30px;
        background: white;
        width: 86px;
        height: 48px;
        align-items: center;
        gap: 14px;
    }
    .nav_tab_view_second_section{
        height: 162px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav_tab_view_second_section_main{
        padding-bottom: 16px;
    }
    .stays_exp{
        display: flex;
        justify-content: center;
        margin-top: 2px;
        height: 60px;
    }
    .stays{
        margin: 10px 13px 10px 11px;
        font-size: 16px;
        line-height: 24px;
        font-family: air;
        font-weight: 500;
        color: var(--font-black);
    }
    .exp{
        margin: 10px 12px;
        font-size: 16px;
        line-height: 24px;
        font-family: air;
        font-weight: 400;
        color: var(--font-gray);
    }
    .tab_view_search{
        display: flex;
        height: 66px;
        text-align: left;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 32px;
        align-items: center;
        margin-top: 1px;


    }
    .tab_view_search_first_section{
        display: flex;
        width: 33.2%;
    }
    .tab_view_search_first_section label{
        padding: 14px 32px;
    }
    .tab_view_search_first_section label h3{
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }
    .tab_view_search_first_section label input{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;

    }
    .vr_line{
    width: 1px;
    height: 32px;
    background: #EBEBEB;
    }
    .tab_view_search_second_section{
        display: flex;
        width: 16.7%;
    }
    .tab_view_search_second_section label{
        padding: 14px 24px;
        width: 100%;
    }
    .tab_view_search_second_section label h3{
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }
    .tab_view_search_second_section label div{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .tab_view_search_third_section{
        display: flex;
        width: 16.4%;
    }
    .tab_view_search_third_section label{
        padding: 14px 23px;
        width: 100%;
    }
    .tab_view_search_third_section label h3{
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }
    .tab_view_search_third_section label div{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }


    .tab_view_search_fourth_section{
        display: flex;
        flex-grow: 1;
    }
    .tab_view_search_fourth_section label{
        padding: 14px 24px;
    }
    .tab_view_search_fourth_section label h3{
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }
    .tab_view_search_fourth_section label div{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: auto;

    }
    .tab_view_search_button_main{
        padding-right: 8px;
    }
    .tab_view_search_button_main button{
        display: flex;
        justify-content: center;
        align-items: center;
       width: 48px; 
       height: 48px;
       border: 0px;
       border-radius: 100px;
       background: rgb(255, 56, 92);
    }
    .hr_contents_main{
        padding: 4px 0px 7px 0px;
    }
    section{
        padding: 0px 40px;
    }

    .main_contents{
        margin-top: 346px;
    }
    .icons_hr_scroll{
        display: flex;
        height: 78px;
        margin-top: 12px;
        padding: 0px 40px;
        column-gap: 28px;
        width: 61.216%;
        
    }
    .hr_contents-inner{
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;

    }
    .hr_contents-inner2{
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;
        opacity: 0.7;


    }
    .hr_contents-inner3{       
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;

    }
    .fiter_tab_view{
        display: block;
    }




}