* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    overflow-x: hidden;
}

:root {
    --font-black: #222222;
    --font-gray: #6A6A6A;
}

@font-face {
    font-family: air;
    src: url(./Font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

.hr_line {
    display: none;
}

/* ---------------------------------------navbar-search-------------------------------------- */
nav {
    position: fixed;
    padding: 0px;
    background-color: white;
    width: 100%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1)0px 1px 5px 0px;

}

.search_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 56px;
    margin: 14px 16px 0px;
}

.search_bar {
    display: grid;
    grid-template-columns: 42px 100%;
    align-items: center;
    background: white;
    width: 100%;
    padding: 0px 4px;
    height: 54px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 1px;
}

.search_icon {
    display: grid;
    justify-content: center;
}

.search_contents {
    margin-top: -1px;
}

.search_placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: air;
    margin-left: 2px;
}

.search_placeholder_list {
    width: 100%;
    overflow-y: hidden;
    height: 16px;
    margin-left: 1px;
    display: flex;
    gap: 4.2px;
    align-items: center;


}

.search_placeholder_list span {
    color: var(--font-gray);
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    margin-left: 1px;
}

.search_list_contents1 {
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: air;
    font-stretch: 100%;
    color: var(--font-gray);
    text-decoration: none;
    overflow-y: hidden;
}

.search_list_contents2 {
    box-sizing: border-box;
    font-size: 12px;
    font-family: air;
    color: var(--font-gray);
    line-height: 16px;
}

.search_list_contents3 {
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: air;
    font-stretch: 100%;
    color: var(--font-gray);
    text-decoration: none;
}




.next_button_tab_view {
    display: none;
}

.filter_button_tab_view {
    display: none;
}

/* ------------------------------hr---------------------------------- */

.icons_hr_scroll {
    display: grid;
    height: 74px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-areas: none;
    grid-template-rows: 74px;
    padding: 0px 24px;
    row-gap: 16px;
    width: 100%;
}

.icons_hr_scroll::-webkit-scrollbar {
    display: none;
}

.hr_contents_main {
    width: auto;
    height: 52px;
    padding: 4px 0px;
    border-bottom: 2px solid;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 10px;

}

.hr_contents {
    width: auto;
    height: 44px;
}

.hr_contents-inner {
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
    min-width: 30px;
}

.hr_contents-inner img {
    width: 24px;
    height: 24px;
}

.hr_contents-inner p {
    color: #000000;
    font-family: air;
    font-weight: 500;
    font-size: 12px;
}

.hr_contents_main2 {
    width: auto;
    height: 52px;
    padding: 4px 0px;
    margin: 12px 0px 10px;
    margin-left: 6px;

}

.hr_contents2 {
    height: 44px;
    min-width: 64px;
    width: auto;
}

.hr_contents-inner2 {
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
    opacity: 0.6;
}

.hr_contents-inner2 img {
    width: 24px;
    height: 24px;
}

.hr_contents-inner2 p {
    color: #000000;
    font-family: air;
    font-weight: 500;
    font-size: 12px;
}

.hr_contents_main3 {
    width: auto;
    height: 52px;
    padding: 4px 0px;
    margin: 12px 0px 10px;

}

.hr_contents3 {
    height: 44px;
    min-width: 64px;
    max-width: 100px;
}

.hr_contents-inner3 {
    width: auto;
    height: 44px;
    display: grid;
    grid-template-rows: 24px 16px;
    justify-items: center;
    row-gap: 4px;
    column-gap: 4px;
    opacity: 0.5;
    max-width: 999px;

}

.hr_contents-inner2:hover,
.hr_contents-inner3:hover {
    opacity: 1;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(176, 172, 172);
}

.hr_contents-inner3 img {
    width: 24px;
    height: 24px;
}

.hr_contents-inner2 p {
    color: var(--font-black);
    font-family: air;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;

}

.hr_contents-inner3 p {
    color: var(--font-black);
    font-family: air;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: normal;

}

.fiter_tab_view {
    display: none;
}

/* .hr_img_2{
    opacity: 0.5;
} */
/* .hr_img_2:hover, .hr_contents-inner2 p:hover, .hr_contents-inner3 p:hover {
    opacity: 1;
    color: var(--font-black);
} */
/* --------------------------------image-section------------------------------------------------ */
section {
    margin: 24px 0px 32px;
    padding: 0px 24px;
}

.main_contents {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 100%;
    gap: 40px;
    margin-top: 168px;
}

.product_img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 20/19;
    border-radius: 12px;

}

.images {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}

.share_button {
    display: flex;
    position: absolute;
    background: #b6e4f79c;
    border: 0px;
    margin-top: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.product_discription {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 19px 19px 19px 25px;
}

.product_name {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_host {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-gray);
    font-family: air;
    margin-top: 2px;
}

.availability {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
    margin-top: 2px;
}

.past_exp {
    margin-top: 52px;
    margin-bottom: 24px;
}

.past_exp h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    font-family: air;
    color: var(--font-black);
    letter-spacing: -0.64px;
}

.main_contents2 {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 100%;
    gap: 40px;
}

.product_img2 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 20/19;
    border-radius: 12px;

}

.images2 {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}

.share_button2 {
    display: flex;
    position: absolute;
    background: #d7e5ed;
    border: 0px;
    margin-top: 12px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.share_button2 svg{
    height: 16px;
    width: 16px;
}

.product_discription2 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 19px 19px 19px 25px;
}

.product_name2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product_host2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: var(--font-gray);
    font-family: air;
    margin-top: 2px;
}

.availability2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--font-black);
    font-family: air;
    margin-top: 2px;
}

/* ---------------------------------- */
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue_exploring {
    margin-top: 56px;
    font-size: 18px;
    font-weight: 500;
    color: var(--font-black);
    line-height: 22px;
    text-align: center;
    font-family: air;
}

.show_more {
    margin-top: 16px;
}

.show_more_button {
    width: 123.3;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    padding: 14px 24px;
    border-radius: 8px;
    font-family: air;
}

/* ----------------------footer-section-------------------------- */
footer {
    background: #F7F7F7;
}

.footer_first_section1 {
    padding: 48px 24px;
    border-bottom: 0.1px solid rgb(223, 217, 217);
}

.footer_heading {
    font-family: air;
    font-weight: 500;
    color: var(--font-black);
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.22px;
}
.footer_categories_main{
    display: flex;
    align-items: center;
}

.footer_categories {
    display: flex;
    overflow-x: auto;
    align-items: flex-start;
    border-bottom: 0.1px solid rgb(223, 217, 217);
    margin-top: -2px;
    width: 100%;

}

.next_button_mobile_view {
    display: flex;
    width: 31px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px;
    text-shadow: rgba(0, 0, 0, 0.1)0px 1px 5px 0px;
    background: #f7f7f7;
    transform: translateY(-102px);
    transform: translateX(12px);
}

.footer_categories::-webkit-scrollbar {
    display: none;
}

.footer_categories_head1 {
    border: 0px;
    background: #F7F7F7;
    padding: 10px 10px 14px 10px;
    margin: 4px 6px 0px -10px;
    font-family: air;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid;
    color: var(--font-black);
}

.footer_categories_head {
    width: auto;
    flex-shrink: 0;
    border: 0px;
    background: #F7F7F7;
    padding: 10px;
    margin: 4px 6px 6px 0px;
    font-family: air;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--font-gray);
}

.footer_categories_lists {
    padding-top: 21px;
}

.footer_categories_lists_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 8px;
}
.footer_categories_lists_tab_view{
    display: none;
}
.footer_categories_lists_large_view{
    display: none;
}

.footer_categories_lists_items li {
    list-style: none;
}

.footer_categories_lists_items li a {
    text-decoration: none;

}

.footer_categories_lists_items li a span {
    color: var(--font-black);
    font-family: air;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

}

.footer_categories_lists_items li a p {
    color: var(--font-gray);
    font-family: air;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

.show_more2 {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer_section2 {
    display: grid;
    padding: 0px 24px;

}

.footer_services {
    padding: 24px 0px;
    border-bottom: 0.1px solid rgb(223, 217, 217);

}

.footer_services h2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-black);
    font-family: air;
    margin-bottom: 12px;
}

hr {
    background-color: var(--font-gray);
}

.footer_services_list {
    display: grid;
    row-gap: 12px;
}

.footer_services_list li {
    list-style: none;
}

.footer_services_list li a {
    text-decoration: none;
    color: var(--font-black);
    font-weight: 400;
    font-family: air;
    font-size: 14px;
    line-height: 20px;
}

.footer_copyright_section {
    padding: 24px 0px;
}

.footer_copyright_section_languages {
    margin-bottom: 22px;
}

.footer_copyright_section_languages_text {
    display: flex;
    align-items: center;
}

.footer_copyright_section_languages_text span {
    color: var(--font-black);
    font-family: air;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.inr_text {
    margin-right: 48px;
}

.language {
    display: flex;
    gap: 8px;
    margin-right: 24px;
}

.footer_social_logo {
    display: none;
}

.footer_copyright_section {
    padding: 24px;
}

.copyright_section_main {
    line-height: 20.02px;
}

.copyright_section {
    margin-bottom: 4px;
    font-size: 14px;
    font-family: air;
    line-height: 18px;
    color: var(--font-black);

}

.copyright_section_inner {
    margin-top: 2px;
}

.copyright_section_inner ol {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}

.copyright_section_inner ol li {
    list-style: none;
}

.copyright_section_inner ol li a {
    text-decoration: none;
    color: var(--font-black);
    font-size: 14px;
    font-family: air;
    line-height: 26.02px;
    color: var(--font-black);
}

.nav_tab_view {
    display: none;
}

.fixed_bottom_nav{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    height: 65px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.fixed_bottom_nav_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    flex-grow: 1;
    align-items: flex-start;
    flex-basis: auto;
    flex-shrink: 0;
    justify-items: center;
}
.fixed_bottom_nav_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 44px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 20%;
    gap: 2px;
}
.fixed_bottom_nav_items1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 44px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 20%;
    opacity: 0.5;
    gap: 2px;
}
.fixed_bottom_nav_items_text{
    font-size: 10px;
    font-family: air;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    color: rgb(232, 25, 72);
    height: 12px;
}
.fixed_bottom_nav_items_text1{
    font-size: 10px;
    font-family: air;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: black;
    height: 12px;
}
.fixed_bottom_nav_items_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 32px;
}

@media screen and (min-width:375px) {
    .search_bar {
        grid-template-columns: 52px 100%;

    }

    .search_main {
        margin: 14px 24px 0px;

    }

}

/* ---------------------------------------------------------------------------------
----------------------------------------------------------------------------------- */
@media screen and (min-width:550px) {
    .main_contents {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 24px;
        row-gap: 40px;
    }

    .main_contents2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
        row-gap: 40px;
    }
}

/* ----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------- */
@media screen and (min-width:744px) {
    .check_box_main {
        display: none;


    }

    .hr_line {
        width: 100%;
        height: 1px;
        background: #EBEBEB;
        display: block;
    }

    .search_main {
        display: none;
    }

    nav {
        box-shadow: rgba(0, 0, 0, 0.1)0px 0px 0px 0px;
    }

    .nav_tab_view {
        width: 100%;
        height: 240px;
        display: block;
    }

    .nav_tab_view_first_section {
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0px 40px;
        align-items: center;

    }

    .nav_tab_view_items {
        display: flex;
    }

    .nav_tab_view_items1 {
        display: flex;
        margin-right: 8px;
    }

    .nav_tab_view_items1 a {
        padding: 12px;
        text-decoration: none;
        color: var(--font-black);
        font-size: 14px;
        font-family: air;
        font-weight: 500;
        line-height: 18px;
        align-self: center;
    }

    .nav_tab_view_items1 button {
        padding: 12px;
        border: 0px;
        background: white;
    }

    .nav_tab_view_items2 button {
        display: flex;
        padding: 8px 8px 8px 14px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 30px;
        background: white;
        width: 86px;
        height: 48px;
        align-items: center;
        gap: 14px;
    }

    .nav_tab_view_second_section {
        height: 162px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav_tab_view_second_section_main {
        padding-bottom: 16px;
    }

    .stays_exp {
        display: flex;
        justify-content: center;
        margin-top: 2px;
        height: 60px;
    }

    .stays {
        margin: 10px 13px 10px 11px;
        font-size: 16px;
        line-height: 24px;
        font-family: air;
        font-weight: 500;
        color: var(--font-black);
    }

    .exp {
        margin: 10px 12px;
        font-size: 16px;
        line-height: 24px;
        font-family: air;
        font-weight: 400;
        color: var(--font-gray);
    }

    .tab_view_search {
        display: flex;
        height: 64px;
        text-align: left;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 32px;
        align-items: center;
        margin-top: 2px;
        max-width: 848px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px 1px;
    }

    .tab_view_search_first_section {
        display: flex;
        width: 33.25%;
    }
    .tab_view_search_first_section:hover{
        background: #EBEBEB;
        border: 0px;
        border-radius: 30px;
    }

    .tab_view_search_first_section label {
        padding: 14px 32px;
        width: 100%;
        

    }
   

    .tab_view_search_first_section label h3 {
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }

    .tab_view_search_first_section label input {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        background: #ccc6c500;

    }

    .vr_line {
        width: 1px;
        height: 32px;
        background: #d4d1d1;
    }

    .tab_view_search_second_section {
        display: flex;
        width: 16.7%;
        
    }
    .tab_view_search_second_section:hover{
        background: #EBEBEB;
        border: 0px;
        border-radius: 30px;
    }


    .tab_view_search_second_section label {
        padding: 14px 24px;
        width: 100%;
    }

    .tab_view_search_second_section label h3 {
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }

    .tab_view_search_second_section label div {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .tab_view_search_third_section {
        display: flex;
        width: 16.4%;
    }
    .tab_view_search_third_section:hover{
        background: #EBEBEB;
        border: 0px;
        border-radius: 30px;
    }


    .tab_view_search_third_section label {
        padding: 14px 23px;
        width: 100%;
    }

    .tab_view_search_third_section label h3 {
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }

    .tab_view_search_third_section label div {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }


    .tab_view_search_fourth_section {
        display: flex;
        flex-grow: 1;
    }
    .tab_view_search_fourth_section:hover{
        background: #EBEBEB;
        border: 0px;
        border-radius: 30px;
    }


    .tab_view_search_fourth_section label {
        padding: 14px 24px;
    }

    .tab_view_search_fourth_section label h3 {
        padding-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        font-family: air;
        color: var(--font-black);
    }

    .tab_view_search_fourth_section label div {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        font-family: air;
        color: var(--font-gray);
        border: 0px;
        width: auto;

    }

    .tab_view_search_button_main {
        padding-right: 8px;
    }

    .tab_view_search_button_main button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 0px;
        border-radius: 100px;
        background: rgb(255, 56, 92);
    }

    .hr_contents_main {
        padding: 4px 0px 7px 0px;
    }

    section {
        padding: 0px 40px;
    }

    .main_contents {
        margin-top: 346px;
    }
    .share_button2 svg{
        height: 14px;
        width: 14px;
    }
    

    .hr_scroll {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .hr_scroll_tab_view_section1 {}

    .tab_view_hr_scroll_buttons {
        display: flex;
        align-items: center;
        width: 152.56px;
    }

    .icons_hr_scroll {
        display: flex;
        height: 78px;
        margin-top: 12px;
        padding: 0px 0px;
        column-gap: 28px;
        width: 100%;

    }

    .hr_contents-inner {
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;

    }

    .hr_contents-inner2 {
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;
        opacity: 0.7;


    }

    .hr_contents-inner3 {
        row-gap: 8px;
        column-gap: 4px;
        height: 48px;
        margin-top: -1px;

    }
   
    .next_button_tab_view {
        display: flex;
        width: 31px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        margin: 29px 0px 20px;
        box-shadow: rgba(0, 0, 0, 0.1)0px 1px 5px 0px;
        z-index: 2;
        justify-self: flex-end;

    }

    .footer_copyright_section_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 10px;
        margin-top: 2px;
    }

    .footer_social_logo {
        display: flex;
        width: 86px;
        height: 18px;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .footer_first_section1 {
        padding: 48px 40px;
    }

    .footer_section2 {
        padding: 0px 40px;

    }
    .footer_copyright_section_languages_text span {
        color: var(--font-black);
        font-family: air;
        font-size: 14px;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 10px;
    }
    .footer_copyright_section_languages{
        margin-bottom: 10px;
        align-items: center;
    }
    .copyright_section{
        margin-bottom: 0px;
        line-height: 10px;
    }
    .language{
        display: flex;
        align-items: center;
    }

}
@media screen and (min-width:798px){
    .next_button_mobile_view{
        display: none;
    }
}

@media screen and (min-width:950px) {
    .nav_tab_view_second_section {
        height: 95px;
        transform: translateY(-64px);
    }

    .tab_view_search {
        justify-self: center;
        max-width: 848px;
        min-width: 848px;
    }

    .nav_tab_view {
        height: 168px;
    }

    .main_contents {
        margin-top: 274px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 100%;
        min-width: 274px;
    }

    .main_contents2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .footer_section2 {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
    }

    .footer_hr_lines {
        display: none;
    }
    .footer_categories_lists{
        display: none;
    }
    .footer_categories_lists_tab_view{
        padding-top: 21px;
        display: block;

    }
    .footer_categories_lists_items1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 24px;
        column-gap: 8px;
    }
    .footer_categories_lists_items1 li{
        list-style: none;
    }
    .footer_categories_lists_items1 li a {
        text-decoration: none;    
    }
    
    .footer_categories_lists_items1 li a span {
        color: var(--font-black);
        font-family: air;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    
    }
    
    .footer_categories_lists_items1 li a p {
        color: var(--font-gray);
        font-family: air;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    
    }
    .footer_services{
        padding: 48px 0px;
        
    }
    .copyright_section_inner{
        margin-top: 2px;
    }
   

}

@media screen and (min-width:1128px) {
    .airbnb_text_logo {
        display: block;
    }

    .airbnb_logo {
        display: none;
    }

    .stays_exp {
        gap: 8px;
    }

    .main_contents {
        margin-top: 274px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .main_contents2 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .footer_heading{
        margin-bottom: 12px;
    }
    .footer_categories_lists_tab_view{
        display: none;
    }
   
    .footer_categories_lists_large_view{
        display: block;
        padding-top: 32px;

    }
    .footer_categories_lists_items1{
        grid-template-columns: repeat(6,1fr);
    }

    .footer_copyright_section {
        padding: 24px 40px;
    }

    .footer_copyright_section_inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }

    .copyright_section_main {
        display: flex;
        align-items: center;
        gap:18px;
    }
    .footer_copyright_section{
        padding: 14px 40px 10px 40px;
        margin-top: 2px;
    }
    .footer_copyright_section_inner{
        line-height: 1px;
    }
    .footer_copyright_section_languages{
        margin-right: 0px;
    }
    .footer_copyright_section_languages_inner{
    }
    .inr_text{
        margin-right: 25px;
    }
}


@media screen and (min-width:1440px) {
    .nav_tab_view_first_section {
        padding: 0px 80px;
    }

    .hr_scroll {
        padding: 0px 80px;
    }

    section {
        padding: 0px 80px;
    }

    .footer_first_section1 {
        padding: 48px 80px;
    }

    .footer_section2 {
        padding: 0px 80px;
    }

    .footer_copyright_section {
        padding: 24px 80px;
    }
}

@media screen and (min-width:1640px) {
    .main_contents {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .main_contents2 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media screen and (min-width:1880px) {
    .main_contents {
        grid-template-columns: repeat(6, minmax(0, 1fr));

    }

    .main_contents2 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .footer_first_section1 {
        width: 60%;
        justify-self: center;
    }

    .footer_section2 {
        width: 60%;
        justify-self: center;
    }

    .footer_copyright_section {
        width: 60%;
        justify-self: center;
    }
}
